%h1= "Available Times for #{@selected_date}"
- next_day = (@selected_date + 1.day).to_s(:db)
- previous_day = (@selected_date - 1.day).to_s(:db)

.row
  .col-md-12
    = link_to "back to clubs", clubs_url, class: "btn btn-primary"
.row
  .col-md-12
    = link_to "<< Previous Day", club_tee_times_url({club_id: @club, date: previous_day})
    = link_to "Next Day >>", club_tee_times_url(club_id: @club, date: next_day)

- TeeTime::ALL_AVAILABLE_TIMES.each do |time|
  %h3
    .row.text-center
      .col-md-12
        - if @booked_times[time].present?
          -booking = @booked_times[time]
          = "Booked - #{time}"
          - if (booking.user == @current_user) && (Time.zone.now + TeeTime::CANCEL_CUTOFF) < Time.zone.parse(time)
            = link_to "x", club_tee_time_url(@club, booking), :method => :delete, :data => { :confirm => 'Are you sure want to cancel?' }

        - else
          = link_to "Available - #{time}", club_tee_times_url({club_id: @club, tee_time: {booking_time: "#{@selected_date} #{time}"}}), :method => :post