%h1= "Available Times for #{@selected_date}"
- next_day = (@selected_date + 1.day).to_s(:db)
- previous_day = (@selected_date - 1.day).to_s(:db)

.row
  .col-md-12
    = link_to "<< Previous Day", tee_times_path(date: previous_day)
    = link_to "Next Day >>", tee_times_path(date: next_day)

- TeeTime::ALL_AVAILABLE_TIMES.each do |time|
  %h3
    .row.text-center
      .col-md-12
        - if @booked_times[time].present?
          -booking = @booked_times[time]
          = "Booked - #{time}"
          - if (booking.user == @current_user)
            = link_to "x", tee_time_path(booking), :method => :delete, :data => { :confirm => 'Are you sure want to cancel?' }

        - elsif Time.zone.parse("#{@selected_date} #{time}") > Time.zone.now
          = link_to "Available - #{time}", tee_times_path({tee_time: {booking_time: "#{@selected_date} #{time}"}}), :method => :post
        - else
          = time